@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'poppins',sans-serif;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(241, 238, 235, 0.247), rgb(231, 96, 6));
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 250px;
    right: 300px;
}
.login-card{
    width: 450px;
    background: rgba(255, 255, 255, 0.863);
    padding: 4rem;
    border-radius: 10px;
}